<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>@donmahallem/github-page documentation</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" type="image/x-icon" href="../images/favicon.ico">
	      <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <div class="navbar navbar-default navbar-fixed-top visible-xs">
            <a href="../" class="navbar-brand">@donmahallem/github-page documentation</a>
            <button type="button" class="btn btn-default btn-menu ion-ios-menu" id="btn-menu"></button>
        </div>

        <div class="xs-menu menu" id="mobile-menu">
                <div id="book-search-input" role="search"><input type="text" placeholder="Type to search"></div>            <compodoc-menu></compodoc-menu>
        </div>

        <div class="container-fluid main">
           <div class="row main">
               <div class="hidden-xs menu">
                   <compodoc-menu mode="normal"></compodoc-menu>
               </div>
               <!-- START CONTENT -->
               <div class="content component">
                   <div class="content-data">




<ol class="breadcrumb">
  <li>Components</li>
  <li>NpmPackageInfoComponent</li>
</ol>

<ul class="nav nav-tabs" role="tablist">
        <li class="active">
            <a href="#info" role="tab" id="info-tab" data-toggle="tab" data-link="info">Info</a>
        </li>
        <li >
            <a href="#source" role="tab" id="source-tab" data-toggle="tab" data-link="source">Source</a>
        </li>
        <li >
            <a href="#templateData" role="tab" id="templateData-tab" data-toggle="tab" data-link="template">Template</a>
        </li>
        <li >
            <a href="#styleData" role="tab" id="styleData-tab" data-toggle="tab" data-link="style">Styles</a>
        </li>
        <li >
            <a href="#tree" role="tab" id="tree-tab" data-toggle="tab" data-link="dom-tree">DOM Tree</a>
        </li>
</ul>

<div class="tab-content">
    <div class="tab-pane fade active in" id="c-info"><p class="comment">
    <h3>File</h3>
</p>
<p class="comment">
    <code>src/app/modules/common/npm-package-info/npm-package-info.component.ts</code>
</p>



    <p class="comment">
        <h3>Implements</h3>
    </p>
    <p class="comment">
                    <code><a href="https://angular.io/api/core/AfterViewInit" target="_blank" >AfterViewInit</a></code>
                    <code><a href="https://angular.io/api/core/OnDestroy" target="_blank" >OnDestroy</a></code>
    </p>


<section>
    <h3>Metadata</h3>
    <table class="table table-sm table-hover">
        <tbody>









            <tr>
                <td class="col-md-3">providers</td>
                <td class="col-md-9">
                                <code><a href="../injectables/NpmPackageService.html" target="_self" >NpmPackageService</a></code>
                </td>
            </tr>


            <tr>
                <td class="col-md-3">selector</td>
                <td class="col-md-9"><code>app-npm-package-info</code></td>
            </tr>

            <tr>
                <td class="col-md-3">styleUrls</td>
                <td class="col-md-9"><code>./npm-package-info.component.scss</code></td>
            </tr>



            <tr>
                <td class="col-md-3">templateUrl</td>
                <td class="col-md-9"><code>./npm-package-info.component.html</code></td>
            </tr>








        </tbody>
    </table>
</section>

    <section>
    <h3 id="index">Index</h3>
    <table class="table table-sm table-bordered index-table">
        <tbody>
                <tr>
                    <td class="col-md-4">
                        <h6><b>Properties</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#dependencies">dependencies</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#devDependencies">devDependencies</a>
                            </li>
                            <li>
                                    <span class="modifier">Private</span>
                                <a href="#loadSubscription">loadSubscription</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#optionalDependencies">optionalDependencies</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Methods</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#convertMapToArray">convertMapToArray</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#derangeVersion">derangeVersion</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#ngAfterViewInit">ngAfterViewInit</a>
                            </li>
                            <li>
                                    <span class="modifier">Public</span>
                                <a href="#ngOnDestroy">ngOnDestroy</a>
                            </li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td class="col-md-4">
                        <h6><b>Inputs</b></h6>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <ul class="index-list">
                            <li>
                                <a href="#packageUrl">packageUrl</a>
                            </li>
                        </ul>
                    </td>
                </tr>




                    <tr>
                        <td class="col-md-4">
                            <h6><b>Accessors</b></h6>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <ul class="index-list">
                                <li>
                                    <a href="#packageUrl">packageUrl</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
        </tbody>
    </table>
</section>

    <section>
    <h3 id="constructor">Constructor</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
<code>constructor(packageService: <a href="../injectables/NpmPackageService.html">NpmPackageService</a>, changeDetectorRef: <a href="https://angular.io/api/core/ChangeDetectorRef" target="_blank">ChangeDetectorRef</a>)</code>
                    </td>
                </tr>
                        <tr>
                            <td class="col-md-4">
                                <div class="io-line">Defined in <a href="" data-line="20" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:20</a></div>
                            </td>
                        </tr>

                <tr>
                    <td class="col-md-4">
                            <div>
                                    <b>Parameters :</b>
                                    <table class="params">
                                        <thead>
                                            <tr>
                                                <td>Name</td>
                                                    <td>Type</td>
                                                <td>Optional</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                                <tr>
                                                        <td>packageService</td>
                                                  
                                                        <td>
                                                                        <code><a href="../injectables/NpmPackageService.html" target="_self" >NpmPackageService</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                                <tr>
                                                        <td>changeDetectorRef</td>
                                                  
                                                        <td>
                                                                        <code><a href="https://angular.io/api/core/ChangeDetectorRef" target="_blank" >ChangeDetectorRef</a></code>
                                                        </td>
                                                  
                                                    <td>
                                                            No
                                                    </td>
                                                    
                                                </tr>
                                        </tbody>
                                    </table>
                            </div>
                    </td>
                </tr>
            </tbody>
        </table>
</section>

    <section>
    <h3 id="inputs">Inputs</h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="packageUrl"></a>
                        <b>packageUrl</b>
                    </td>
                </tr>
                <tr>
                    <td class="col-md-4">
                        <i>Type : </i>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </td>
                </tr>
                        <tr>
                            <td class="col-md-2" colspan="2">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:26</a></div>
                            </td>
                        </tr>
            </tbody>
        </table>
</section>



    <section>
    
    <h3 id="methods">
        Methods
    </h3>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="convertMapToArray"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            convertMapToArray
                        </b>
                        <a href="#convertMapToArray"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>convertMapToArray(obj: literal type)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="30"
                            class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:30</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>obj</td>
                                    <td>
                                            <code>literal type</code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="../miscellaneous/typealiases.html#DependencyInfo" target="_self" >DependencyInfo[]</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="derangeVersion"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            derangeVersion
                        </b>
                        <a href="#derangeVersion"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>derangeVersion(version: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="51"
                            class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:51</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Parameters :</b>
                        <table class="params">
                            <thead>
                                <tr>
                                    <td>Name</td>
                                    <td>Type</td>
                                    <td>Optional</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>version</td>
                                    <td>
                                                <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                    </td>

                                    <td>
                                        No
                                    </td>


                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                    </div>
                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>

                    </div>
                    <div class="io-description">
                        
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngAfterViewInit"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            ngAfterViewInit
                        </b>
                        <a href="#ngAfterViewInit"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>ngAfterViewInit()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="37"
                            class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:37</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="table table-sm table-bordered">
        <tbody>
            <tr>
                <td class="col-md-4">
                    <a name="ngOnDestroy"></a>
                    <span class="name">
                        <b>
                            <span class="modifier">Public</span>
                            ngOnDestroy
                        </b>
                        <a href="#ngOnDestroy"><span class="icon ion-ios-link"></span></a>
                    </span>
                </td>
            </tr>
            <tr>
                <td class="col-md-4">
                    <span class="modifier-icon icon ion-ios-reset"></span>
                    <code>ngOnDestroy()</code>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">
                    <div class="io-line">Defined in <a href="" data-line="55"
                            class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:55</a></div>
                </td>
            </tr>


            <tr>
                <td class="col-md-4">

                    <div class="io-description">
                        <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</section>
    <section>
    
        <h3 id="inputs">
            Properties
        </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="dependencies"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            dependencies</b>
                            <a href="#dependencies"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../miscellaneous/typealiases.html#DependencyInfo" target="_self" >DependencyInfo[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="18" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:18</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="devDependencies"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            devDependencies</b>
                            <a href="#devDependencies"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../miscellaneous/typealiases.html#DependencyInfo" target="_self" >DependencyInfo[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="19" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:19</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="loadSubscription"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Private</span>
                            loadSubscription</b>
                            <a href="#loadSubscription"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>    <code>Subscription</code>

                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="17" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:17</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="optionalDependencies"></a>
                        <span class="name">
                            <b>
                                <span class="modifier">Public</span>
                            optionalDependencies</b>
                            <a href="#optionalDependencies"><span class="icon ion-ios-link"></span></a>
                        </span>
                    </td>
                </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Type : </i>        <code><a href="../miscellaneous/typealiases.html#DependencyInfo" target="_self" >DependencyInfo[]</a></code>

                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-4">
                            <i>Default value : </i><code>[]</code>
                        </td>
                    </tr>
                        <tr>
                            <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="20" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:20</a></div>
                            </td>
                        </tr>


            </tbody>
        </table>
</section>

    <section>
    <h3 id="accessors">
        Accessors
    </h3>
        <table class="table table-sm table-bordered">
            <tbody>
                <tr>
                    <td class="col-md-4">
                        <a name="packageUrl"></a>
                        <span class="name"><b>packageUrl</b><a href="#packageUrl"><span class="icon ion-ios-link"></span></a></span>
                    </td>
                </tr>


                <tr>
                    <td class="col-md-4">
                        <span class="accessor"><b>set</b><code>packageUrl(url: <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank">string</a>)</code></span>
                    </td>
                </tr>
                            <tr>
                                <td class="col-md-4">
                                    <div class="io-line">Defined in <a href="" data-line="26" class="link-to-prism">src/app/modules/common/npm-package-info/npm-package-info.component.ts:26</a></div>
                                </td>
                            </tr>
                    <tr>
                        <td class="col-md-4">

                                <div class="io-description">
                                        <b>Parameters :</b>
                                        <table class="params">
                                            <thead>
                                                <tr>
                                                    <td>Name</td>
                                                        <td>Type</td>
                                                    <td>Optional</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    <tr>
                                                            <td>url</td>
                                                    
                                                            <td>
                                                                            <code><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/string" target="_blank" >string</a></code>
                                                            </td>
                                                    
                                                        <td>
                                                                No
                                                        </td>
                                                        
                                                    </tr>
                                            </tbody>
                                        </table>
                                </div>
                                <div>
                                </div>
                                <div class="io-description">
                                    <b>Returns : </b>        <code><a href="https://www.typescriptlang.org/docs/handbook/basic-types.html" target="_blank" >void</a></code>

                                </div>
                        </td>
                    </tr>
            </tbody>
        </table>
</section>
</div>


    <div class="tab-pane fade  tab-source-code" id="c-source">
        <pre class="line-numbers compodoc-sourcecode"><code class="language-typescript">import { Component, AfterViewInit, OnDestroy, NgZone, ChangeDetectorRef, ChangeDetectionStrategy, Input, HostBinding } from &#x27;@angular/core&#x27;;
import { Repository, GithubFileId, NpmPackage } from &#x27;src/app/modal&#x27;;
import { ActivatedRoute } from &#x27;@angular/router&#x27;;
import { Subscription, from, EMPTY } from &#x27;rxjs&#x27;;
import { map, catchError } from &#x27;rxjs/operators&#x27;;
import { MatTreeFlattener, MatTreeFlatDataSource } from &#x27;@angular/material&#x27;;
import { FlatTreeControl } from &#x27;@angular/cdk/tree&#x27;;
import { NpmPackageService } from &#x27;./npm-package.service&#x27;;
import { DependencyInfo } from &#x27;./dependendy-info&#x27;;
@Component({
    selector: &#x27;app-npm-package-info&#x27;,
    templateUrl: &#x27;./npm-package-info.component.html&#x27;,
    styleUrls: [&#x27;./npm-package-info.component.scss&#x27;],
    providers: [NpmPackageService],
})
export class NpmPackageInfoComponent implements AfterViewInit, OnDestroy {
    private loadSubscription: Subscription;
    public dependencies: DependencyInfo[] &#x3D; [];
    public devDependencies: DependencyInfo[] &#x3D; [];
    public optionalDependencies: DependencyInfo[] &#x3D; [];
    constructor(private packageService: NpmPackageService,
                private changeDetectorRef: ChangeDetectorRef) {

    }
    @Input()
    public set packageUrl(url: string) {
        this.packageService.package &#x3D; url;
    }

    public convertMapToArray(obj: { [key: string]: string }): DependencyInfo[] {
        if (obj) {
            return Object.keys(obj).map((key: string) &#x3D;&gt; [key, obj[key]]);
        }
        return [];
    }

    public ngAfterViewInit(): void {
        this.loadSubscription &#x3D; this.packageService
            .observePackage()
            .pipe(catchError((err) &#x3D;&gt; {
                return EMPTY;
            }))
            .subscribe((pack: NpmPackage): void &#x3D;&gt; {
                this.dependencies &#x3D; this.convertMapToArray(pack.dependencies);
                this.devDependencies &#x3D; this.convertMapToArray(pack.devDependencies);
                this.optionalDependencies &#x3D; this.convertMapToArray(pack.optionalDependencies);
                this.changeDetectorRef.detectChanges();
            });
    }

    public derangeVersion(version: string): string {
        return version.match(/[0-9].*/)[0];
    }

    public ngOnDestroy(): void {
        if (this.loadSubscription) {
            this.loadSubscription.unsubscribe();
        }
    }
}
</code></pre>
    </div>

    <div class="tab-pane fade " id="c-templateData">
        <pre class="line-numbers"><code class="language-html">&lt;h2 class&#x3D;&quot;mat-h2&quot; i18n&#x3D;&quot;npm package file|title@@npmPackageInfoTitle&quot;&gt;Npm Package Info&lt;/h2&gt;
&lt;p class&#x3D;&quot;mat-caption&quot; i18n&#x3D;&quot;npm package file|subtitle@@npmPackageInfoSubtitle&quot;&gt;Information about the package.json file
    located at the
    repository root directory.&lt;/p&gt;
&lt;app-npm-package-list [packages]&#x3D;&quot;dependencies&quot;
    i18n-header&#x3D;&quot;npm package file|package list dependencies header@@npmPackageListDependencies&quot; header&#x3D;&quot;Dependencies&quot;&gt;
&lt;/app-npm-package-list&gt;
&lt;app-npm-package-list [packages]&#x3D;&quot;devDependencies&quot;
    i18n-header&#x3D;&quot;npm package file|package list dev dependencies header@@npmPackageListDevDependencies&quot;
    header&#x3D;&quot;Development Dependencies&quot;&gt;
&lt;/app-npm-package-list&gt;
&lt;app-npm-package-list [packages]&#x3D;&quot;optionalDependencies&quot;
    i18n-header&#x3D;&quot;npm package file|package list optional dependencies header@@npmPackageListOptionalDependencies&quot;
    header&#x3D;&quot;Optional Dependencies&quot;&gt;
&lt;/app-npm-package-list&gt;</code></pre>
    </div>

    <div class="tab-pane fade " id="c-styleData">
                <p class="comment">
                    <code>./npm-package-info.component.scss</code>
                </p>
                <pre class="line-numbers"><code class="language-scss">:host{
    display:flex;
    flex-direction: column;
    justify-content: stretch;
    overflow:auto;
    app-npm-package-list{
        margin-top:10px;
    }
}</code></pre>
    </div>

    <div class="tab-pane fade " id="c-tree">
        <div id="tree-container"></div>
        <div class="tree-legend">
            <div class="title">
                <b>Legend</b>
            </div>
            <div>
                <div class="color htmlelement"></div><span>Html element</span>
            </div>
            <div>
                <div class="color component"></div><span>Component</span>
            </div>
            <div>
                <div class="color directive"></div><span>Html element with directive</span>
            </div>
        </div>
    </div>

    
</div>

<script src="../js/libs/vis.min.js"></script>
<script src="../js/libs/htmlparser.js"></script>
<script src="../js/libs/deep-iterator.js"></script>
<script>
        var COMPONENT_TEMPLATE = '<div><h2 class="mat-h2" i18n="npm package file|title@@npmPackageInfoTitle">Npm Package Info</h2><p class="mat-caption" i18n="npm package file|subtitle@@npmPackageInfoSubtitle">Information about the package.json file    located at the    repository root directory.</p><app-npm-package-list [packages]="dependencies"    i18n-header="npm package file|package list dependencies header@@npmPackageListDependencies" header="Dependencies"></app-npm-package-list><app-npm-package-list [packages]="devDependencies"    i18n-header="npm package file|package list dev dependencies header@@npmPackageListDevDependencies"    header="Development Dependencies"></app-npm-package-list><app-npm-package-list [packages]="optionalDependencies"    i18n-header="npm package file|package list optional dependencies header@@npmPackageListOptionalDependencies"    header="Optional Dependencies"></app-npm-package-list></div>'
    var COMPONENTS = [{'name': 'AppComponent', 'selector': 'app-root'},{'name': 'HomeComponent', 'selector': 'app-home'},{'name': 'NotFoundComponent', 'selector': 'app-not-found'},{'name': 'NpmPackageInfoComponent', 'selector': 'app-npm-package-info'},{'name': 'NpmPackageListComponent', 'selector': 'app-npm-package-list'},{'name': 'ObjectTreeComponent', 'selector': 'app-object-tree'},{'name': 'RepoDetailComponent', 'selector': 'app-repo-detail'},{'name': 'RepoListComponent', 'selector': 'app-repo-list'},{'name': 'ReposOverviewComponent', 'selector': 'app-repos-overview'},{'name': 'RepoStatsBoxComponent', 'selector': 'app-repo-stats-box'},{'name': 'RepoStatsBoxItemComponent', 'selector': 'app-repo-stats-box-item'}];
    var DIRECTIVES = [];
    var ACTUAL_COMPONENT = {'name': 'NpmPackageInfoComponent'};
</script>
<script src="../js/tree.js"></script>










                   




                   </div><div class="search-results">
    <div class="has-results">
        <h1 class="search-results-title"><span class='search-results-count'></span> result-matching "<span class='search-query'></span>"</h1>
        <ul class="search-results-list"></ul>
    </div>
    <div class="no-results">
        <h1 class="search-results-title">No results matching "<span class='search-query'></span>"</h1>
    </div>
</div>
</div>
               <!-- END CONTENT -->
           </div>
       </div>

       <script>
            var COMPODOC_CURRENT_PAGE_DEPTH = 1;
            var COMPODOC_CURRENT_PAGE_CONTEXT = 'component';
            var COMPODOC_CURRENT_PAGE_URL = 'NpmPackageInfoComponent.html';
       </script>

       <script src="../js/libs/custom-elements.min.js"></script>
       <script src="../js/libs/lit-html.js"></script>
       <!-- Required to polyfill modern browsers as code is ES5 for IE... -->
       <script src="../js/libs/custom-elements-es5-adapter.js" charset="utf-8" defer></script>
       <script src="../js/menu-wc.js" defer></script>

       <script src="../js/libs/bootstrap-native.js"></script>

       <script src="../js/libs/es6-shim.min.js"></script>
       <script src="../js/libs/EventDispatcher.js"></script>
       <script src="../js/libs/promise.min.js"></script>
       <script src="../js/libs/zepto.min.js"></script>

       <script src="../js/compodoc.js"></script>

       <script src="../js/tabs.js"></script>
       <script src="../js/menu.js"></script>
       <script src="../js/libs/clipboard.min.js"></script>
       <script src="../js/libs/prism.js"></script>
       <script src="../js/sourceCode.js"></script>
          <script src="../js/search/search.js"></script>
          <script src="../js/search/lunr.min.js"></script>
          <script src="../js/search/search-lunr.js"></script>
          <script src="../js/search/search_index.js"></script>
       <script src="../js/lazy-load-graphs.js"></script>


    </body>
</html>
