$maxContent: 800px;
:host{
    display: block;
    background: white;
    min-height: 100vh;
    main{
        width:100%;
        background:white;
    }
}
@media (min-width: #{$maxContent+1}){
    :host{
        background: #DDDDDD;
        main{
            width:$maxContent;
            margin:0px auto;
            background: #FFFFFF;
        }
    }
}
mat-toolbar a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}