$maxContent: 1200px;
:host{
    background: white;
    main{
        width:100vw;
        background:red;
    }
}
@media (min-width: #{$maxContent+1}){
    :host{
        background: #EEEEEE;
        main{
            width:$maxContent;
            margin:0px auto;
            background: white;
        }
    }
}
mat-toolbar a{
    color: inherit; /* blue colors for links too */
    text-decoration: inherit;
}