div.npm-version-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    span{
        grid-column: span 1;
    }
    
    @media (max-width: 300px){
        span{
            grid-column: span 4;
        }
    }
    @media (min-width: 301px) and (max-width: 500px){
        span{
            grid-column: span 2;
        }
    }
}