:host{
    padding:2px 5px 2px 5px;
    line-height: 30px;
    height:30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    mat-icon{
        margin-inline-end: 6px;
        line-height: inherit;
        height:30px;
    }
}